body {
  background-color: #111111;
  color: #fff;
  font: 1em monospace;
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
}

// Custom Scroll Bar ===========================
// For Firefox
:root {
  scrollbar-color: #666 #222 !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 50px;
}
